header{
    background: url(imgs/mke-queen.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
@media  screen and (max-width: 670px){
    header{
        min-height: 300px;
    }
    
}